streamlit
pandas
numpy
requests
matplotlib
altair
scikit-learn
nltk
scipy

# UI Components
streamlit-lottie
streamlit-option-menu

# File Handling
pypdf

# Deep Learning Core
torch
transformers
sentencepiece


sentence-transformers   
faiss-cpu              
bertopic               
plotly                 